<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localizedDate</key>
	<string>localizedDate</string>
	<key>affiliateName</key>
	<string>affiliateName</string>
	<key>affiliateCity</key>
	<string>affiliateCity</string>
	<key>localizedCountry</key>
	<string>localizedCountry</string>
	<key>localizedTitle</key>
	<string>localizedTitle</string>
	<key>hasTip</key>
	<false/>
	<key>localizedTotalTaxIncludedAmount</key>
	<string>localizedTotalTaxIncludedAmount</string>
	<key>localizedTotalTaxAmount</key>
	<string>localizedTotalTaxAmount</string>
	<key>hasInvoiceLines</key>
	<true/>
	<key>invoiceLinesByPosition</key>
	<array>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
		<dict>
			<key>localizedText</key>
			<string>localizedText</string>
			<key>amount</key>
			<integer>0</integer>
			<key>localizedTaxIncludedAmount</key>
			<string>localizedTaxIncludedAmount</string>
		</dict>
	</array>
</dict>
</plist>
