<html>
<head>
</head>
<body>
  <header>
    <time>{{localizedDate}}</time>
    <p>{{affiliateName}}</p>
    <p>{{affiliateCity}}, {{localizedCountry}}</p>
    {{#localizedTitle}}
      <h1>{{localizedTitle}}</h1>
    {{/localizedTitle}}
  </header>
  
  <section class="total">
    <dl class="TXAmountFormTableViewCell">
      <dt>
        {{#hasTip}}
          Total incl. tax &amp; tip
        {{/hasTip}}
        {{^hasTip}}
          Total incl. tax
        {{/hasTip}}
      </dt>
      <dd>{{localizedTotalTaxIncludedAmount}}</dd>
    </dl>
    <dl class="TXAmountFormTableViewCell">
      <dt>VAT</dt>
      <dd>{{localizedTotalTaxAmount}}</dd>
    </dl>
  </section>
  
  {{#hasInvoiceLines}}
    <h2>Detail</h2>
    {{#invoiceLinesByPosition}}
      <dl class="TXAmountFormTableViewCell">
        <dt>{{localizedText}}</dt>
        {{#amount}}
          <dd>{{localizedTaxIncludedAmount}}</dd>
        {{/amount}}
      </dl>
    {{/invoiceLinesByPosition}}
  {{/hasInvoiceLines}}
  
</body>
</html>
